<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file>index.html</welcome-file>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>Listener.PostgresListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LogInServlet</servlet-name>
        <servlet-class>LogIn.LogInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>LogIn.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InicioDeSesion</servlet-name>
        <servlet-class>LogIn.InicioDeSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GameRegistration</servlet-name>
        <servlet-class>LogIn.GameRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasViciados</servlet-name>
        <servlet-class>LogIn.MasViciados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Activacion</servlet-name>
        <servlet-class>LogIn.Activacion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInServlet</servlet-name>
        <url-pattern>/LogInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioDeSesion</servlet-name>
        <url-pattern>/InicioDeSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GameRegistration</servlet-name>
        <url-pattern>/GameRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasViciados</servlet-name>
        <url-pattern>/MasViciados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Activacion</servlet-name>
        <url-pattern>/Activacion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
